<section class="card-preview">
  <div class="container">
    <button class="reset">
      <i class="far fa-trash-alt reset__icon"></i>
      Reset
    </button>
    <article class="card">
      <div class="card__decoration"></div>
      <div class="card__info">
        <h3 class="card__info--name js_previewName">Nombre Apellido</h3>
        <p class="card__info--job js_previewJob">Front-end developer</p>
      </div>
      <div class="card__img"></div>
      <ul class="card__social">
        <li class="card__social--icon">
          <a href="https://adalab.es/" target="_blank"
            ><i class="fas fa-mobile-alt "></i
          ></a>
        </li>
        <li class="card__social--icon">
          <a class= "js_previewMail" href="#"><i class="far fa-envelope "></i></a>
        </li>
        <li class="card__social--icon">
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="card__social--icon">
          <a href="#"><i class="fab fa-github-alt"></i></a>
        </li>
      </ul>
    </article>
  </div>
</section>
