<fieldset class="fieldset__fill">
    <div class="fill">
        <i class="far fa-keyboard" alt="Fill"></i>
        <h3 class="fill__text">Rellena</h3>
        <img src="#" alt="arrow">
    </div>
    <form class="form" action="#" method="post">
        <div class="form_container">
            <label class="form__label" for="name"> Nombre completo </label>
            <input class="form__input" type="text" id="name" name="name" placeholder="Ej: Sally Jill"
                pattern="^[a-zA-Z]{1-50}$" required />

            <label class="form__label" for="job"> Puesto </label>
            <input class="form__input" type="text" id="job" name="job" placeholder="Ej: Front-end unicorn"
                pattern="^[a-zA-Z]{1-50}$" required />

            <div>
                <label class="form__label" for="picture"> Imagen de perfil </label>
                <button class="form__label--btn"> Añadir Imagen </button>
                <input type="checkbox" id="picture" name="picture" required />
            </div>

            <label class="form__label" for="mail"> Email </label>
            <input class="form__input" type="email" id="mail" name="mail" placeholder="Ej: sally-hill@gmail.com"
                pattern="^[a-zA-Z]{1-50}$" required />

            <label class="form__label" for="phone"> Teléfono </label>
            <input class="form__input" type="tel" id="phone" name="phone" placeholder="Ej: 555-55-55-55"
                pattern="^[0-9]{15}$" />

            <label class="form__label" for="linkedin"> Linkedin </label>
            <input class="form__input" type="text" id="linkedin" name="linkedin"
                placeholder="Ej: linkedin.com/in/sally.hill" pattern="^[a-zA-Z]{1-50}$" required />

            <label class="form__label" for="github"> Github </label>
            <input class="form__input" type="text" id="github" name="github" placeholder="Ej: @sally-hill"
                pattern="^[a-zA-Z]{1-50}$" required />
        </div>

</fieldset>