<fieldset class="section-design">
    <div class="container">
        <h3 class="title">Colores</h3>
        <div class="options">
            <label for="optioncolor1">
                <input type="radio" value="1" name="palette" checked />
                <div class="palette"></div>
                <div class="palette"></div>
                <div class="palette"></div>
            </label>
            <label for="optioncolor2">
                <input type="radio" value="2" name="palette" />
                <div class="palette"></div>
                <div class="palette"></div>
                <div class="palette"></div>
            </label>
            <label for="optioncolor3">
                <input type="radio" value="3" name="palette" />
                <div class="palette"></div>
                <div class="palette"></div>
                <div class="palette"></div>
            </label>
        </div>
    </div>
</fieldset>