<fieldset class="section-design container">
    <div class="select hidden-content">
        <h3 class="select_title">Colores</h3>
        <div class="select_options">
            <label for="optioncolor1" class="select__options--palette">
                <input type="radio" value="1" name="palette" class="select__options--input" checked />
                <div class="palette palette__cold1"></div>
                <div class="palette palette__cold2"></div>
                <div class="palette palette palette__cold3"></div>
            </label>
            <label for="optioncolor2" class="select__options--palette">
                <input type="radio" value="2" name="palette" class="select__options--input" />
                <div class="palette palette__hot1"></div>
                <div class="palette palette__hot2"></div>
                <div class="palette palette__hot3"></div>
            </label>
            <label for="optioncolor3" class="select__options--palette">
                <input type="radio" value="3" name="palette" class="select__options--input " />
                <div class="palette palette__mix1"></div>
                <div class="palette palette__mix2"></div>
                <div class="palette palette__mix3"></div>
            </label>
        </div>
    </div>
</fieldset>