<fieldset class="fieldset__share">
    <div class="container__share">
        <div class="container__share--icon">
            <i class="fas fa-share-alt" alt="Share"></i>
        <h3 class="container__share--title">Comparte</h3>
        </div>
        <i class="fas fa-chevron-up "></i>
    </div>
    <div>
        
        <div>
            <button class="btn__card">
                <i class="far fa-address-card address-card-icon"></i>crear tarjeta
            </button>
        </div>
        <div>
            <h4>La tarjeta ha sido creada:</h4>
            <a href="">enlace</a>
            <button type="submit">
                <i class="fab fa-twitter twitter-icon"></i>Compartir en twitter
            </button>
        </div>
    </div>
</fieldset>