.fieldset__design{
  margin: 27px 20px 0px;
  border-style: none;
  border-bottom: 1px solid $pearlGrey;
}

.container__design{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;

  &--icon {
    display: flex;
    flex-direction: row;
  }
  &--title{
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $opensansFont;
    font-weight: 600;
    margin-left: 10px;
    color: $metalColor;
    }
    &--iconArrow{
    width: 16px;
    height: 18px;
    font-size: 18px;
    }
  }
.select{
  width: 100%;
  max-height: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__title { 
    font-family: $opensansFont;
    font-size: 14px;
    font-weight: 100;
    color: $metalColor;
    text-transform: uppercase;
    margin-left: 19px;
  }
  &__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &--input {
      width: 17px;
      height: 17px;
      margin-right: 10px;
    }
    &--palette {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}

.palette {
    display: inline-block;
    width: 30px;
    height: 25px;
    &__cold1 {
      background-color: #114e4e;
    }
    &__cold2 {
      background-color: #438792;
    }
    &__cold3 {
      background-color: #a2deaf;
    }
    &__hot1 {
      background-color: #420101;
    }
    &__hot2 {
      background-color: #bd1010;
    }
    &__hot3 {
      background-color: #e95626;
    }
    &__mix1 {
      background-color: #3e5b65;
    }
    &__mix2 {
      background-color: #eab052;
    }
    &__mix3 {
      background-color: #a0c0cf;
    }
  }